.header{
    position: fixed;
    top:0;
    width: 100%;
}

.header_line{
    height: 4vh;
    font-size: 0.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: lowercase;
}
ul.header_lng{
    display: flex;
    width: 10%;
    justify-content: space-around;
}

li{
    list-style-type: none;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

li:hover{
    color: #C7A17A;
   
}
.active{
    color: #C7A17A;
}

/* MAIN HEad */

.head_wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5.6rem;
}

img.nav_logo {
    height: 3.4rem;
    width: 3.5rem;
}

.header_part_container{
    width: 45%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header_actions{
    margin-right: 1rem;
}


/* mobile devices go here */
@media (max-width: 768px) {
    nav.header_part_container{
        display: none;
    }
*{ 
    box-sizing: border-box;

}

ul.header_lng {
  width: fit-content;
}

.header_lng li{
    margin-right: 1rem;
}

.container{
width: 90%;
}

.header_actions svg{
width: 4rem;
}
   
   h1{
    font-size: 1rem;
   }

   img.nav_logo{
    margin-left: 2rem;
   }
   .header_line{
    margin: 0;
    height: 1.5rem;
}
.head_wrapper{
    height: 3.5rem;
} 

  }
  
  /* Tablet Devices (769px to 1024px wide) */
  @media (min-width: 769px) and (max-width: 1024px) {
   
  }