h1,h2,h3,h4,h5,p{
 margin: 0;
}



body {
  margin: 0;
  background-color: #020204;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  display: block;
  width: 100%;
  color: #FFFFFF;
  font-size: 14px;
    
}

header{
  border-bottom: 1px solid #32323D;
  z-index: 20;
  backdrop-filter: blur(20px);

}
main{
  margin-top: 8rem;
  min-height: 70vh;
}

.container{
  width: 75%;
  margin: 0 auto;
}

a{
color: #FFFFFF;
text-decoration: none;
margin: 0.7rem;
transition: color 0.4s ease-in-out;
}
a:hover{
  color:#C7A17A;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.btn_intro{
  width: 12.5rem;
  height: 3.1rem;
  border-radius: 10px;
  border: 1px solid #666681;
  background-color: transparent;
  margin-right: 3rem;
  text-transform: uppercase;
  color: white;
  box-shadow: 0 0 5px #C7A17A;
  
}
@media (max-width: 768px) {
*{
  box-sizing: border-box;
  max-width: 100%;
}

  .container{
    margin:0;
    width: 100%;
  }
}